{% extends 'base.html.twig' %}

{% block title %}Add a new To-Do{% endblock %}

{% block body %}
  <h1>Add a new To-Do</h1>
  {{ form_start(form)}}
  {{ form_widget(form)}}
  {{ form_end(form)}}
{% endblock %}
